{
  "plugins": [
    "@babel/transform-runtime",
    "macros",
    [
      "import",
      {
        "libraryDirectory": "es",
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ],
  "presets": [
    "@babel/react",
    "@babel/env"
  ]
}