.header {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 5vh;
  justify-content: space-between;
  &__nav {
    align-items: center;
    display: flex;
  }
  &__logo-link {
    margin-right: 5%
  }
  &__logo {
    margin: 0;
    font-size: 1.5rem;
  }
  &__slider {
    width: 80vw;
  }
  &__selector {
    min-width: 250px;
  }
}
@media (min-width: 1200px) {
  .header__slider {
    width: 30vw;
  }
}
@media (min-width: 768px) {
  .header__slider {
    width: 50vw;
  }
}
