.palette {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  &__header {
    height: 5vh;
    padding: 0 24px;
    display: flex;
    align-items: center;
  }
  &__colors-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(calc(100vh * 0.9 / 4), 1fr);
    width: 100%;
    height: 90%;
  }
}

@media (min-width: 1200px) {
  .palette__colors-wrap {
    grid-template-columns: repeat(5, 1fr);
  }
}
