.palette {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  &__header {
    height: 5vh;
    padding: 0 24px;
    display: flex;
    align-items: center;
  }
  &__colors-wrap {
    width: 100%;
    height: 90vh;
  }
  &__colors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(22.5vh, max-content);
  }
  &__footer {
    height: 5vh;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__name {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .palette__colors-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
